{% extends 'base.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'detail.css' %}">
{% endblock css %}

{% block container %}
<header>
    <h1>To Do Detail</h1>
</header>
<div id="main">
    <div class="title">
        <h1>제목</h1>
        <div>{{ post.title }}</div>
    </div>
    <div class="content">
        <h1>세부사항</h1>
        <div>{{ post.content }}</div>
    </div>
    <div class="date">
        <h1>마감날짜</h1>
        <div>{{ post.date_str }}</div>
    </div>
    <div class="comment-box">
        <div class="comments">
            <h4>Comments</h4>
            {% for comment in post.comments.all %}
            <li>
                {{ comment.content }}
                {% if user.is_authenticated and comment.author.pk == user.pk %}
                <a href="{% url 'delete_comment' post.pk comment.pk %}">삭제</a>
                {% endif %}
            </li>
            {% endfor %}
        </div>
        <div class="comment-form">
            {% if user.is_authenticated %}
            <form action="" method="POST">
                {% csrf_token %}
                <input type="text" name="content">
                <button type="submit">등록</button>
            </form>
            {% endif %}
        </div>
    </div>
</div>
<footer>
    <a href="{% url 'home' %}" class="button"><div>Home</div></a>
    {% if user.is_authenticated and post.author.pk == user.pk %}
    <a href="{% url 'edit' post.pk %}" class="button"><div>Edit</div></a>
    <a href="{% url 'delete' post.pk %}" class="button"><div>Delete</div></a>
    {% else %}
    <a href="" class="button"><div>-</div></a>
    <a href="" class="button"><div>-</div></a>
    {% endif %}
</footer>
{% endblock container %}

